<section class="bg-white dark:bg-gray-900" xmlns="http://www.w3.org/1999/html">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1
                class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
            >
                CASCO pentru dantură: Investește în sănătatea ta orală
            </h1>

            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                Zâmbetul tău este cartea ta de vizită! Investește în sănătatea lui cu CASCO pentru dantură și bucură-te
                de o viață plină de încredere și zâmbete
            </p>

            <a
                class="button mr-3 text-white rounded-lg button-primary"
                href="#"
            >
                Solicită o ofertă gratuită
                <app-icon [icon]="arrowRight" class="w-5 h-5 ml-2 -mr-1"/>
            </a>
            <a
                class="button button-medium outline-medium rounded-lg"
                href="#"
            >
                Descoperă planurile noastre de asigurare
            </a>

        </div>

        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img alt="mockup" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png"/>
        </div>
    </div>
</section>
