<header>
    <nav class="fixed top-0 start-0 z-20 w-full bg-gray-200 border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a class="flex items-center mr-3 h-6 aspect-square sm:h-9 relative" routerLink="/">
                <img alt="Medical Tourism Association Logo" class="object-contain rounded-full" fill ngSrc="logo.jpg"/>
            </a>

            <div class="flex items-center lg:order-2">
                <app-theme-switcher/>

                <button
                    (click)="showMobileMenu.set(!showMobileMenu())"
                    aria-expanded="false"
                    class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    type="button"
                >
                    <span class="sr-only">Open main menu</span>

                    @if (!showMobileMenu()) {
                        <app-icon [icon]="bars" class="w-6 h-6"/>
                    } @else {
                        <app-icon [icon]="close" class="hidden w-6 h-6"/>
                    }
                </button>
            </div>

            <div
                [class.hidden]="!showMobileMenu()"
                class="justify-between items-center w-full lg:flex lg:w-auto lg:order-1">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    @for (item of navItems; track item.title) {
                        <li>
                            <a
                                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
                                [routerLink]="item.link"
                                [fragment]="item.fragment"
                                routerLinkActive="text-white lg:text-primary-700 dark:text-white"
                                [routerLinkActiveOptions]="{
                                    paths: 'exact',
                                    fragment: 'exact',
                                    queryParams: 'exact',
                                    matrixParams: 'exact',
                                }"
                            >
                                {{ item.title }}
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
