/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "flowbite/plugin";
@plugin "flowbite-typography";
@source "../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50:  var(--color-sky-50);
    --color-primary-100: var(--color-sky-100);
    --color-primary-200: var(--color-sky-200);
    --color-primary-300: var(--color-sky-300);
    --color-primary-400: var(--color-sky-400);
    --color-primary-500: var(--color-sky-500);
    --color-primary-600: var(--color-sky-600);
    --color-primary-700: var(--color-sky-700);
    --color-primary-800: var(--color-sky-800);
    --color-primary-900: var(--color-sky-900);
    --color-primary-950: var(--color-sky-950);

    /*--color-primary-50:  var(--color-cyan-50);*/
    /*--color-primary-100: var(--color-cyan-100);*/
    /*--color-primary-200: var(--color-cyan-200);*/
    /*--color-primary-300: var(--color-cyan-300);*/
    /*--color-primary-400: var(--color-cyan-400);*/
    /*--color-primary-500: var(--color-cyan-500);*/
    /*--color-primary-600: var(--color-cyan-600);*/
    /*--color-primary-700: var(--color-cyan-700);*/
    /*--color-primary-800: var(--color-cyan-800);*/
    /*--color-primary-900: var(--color-cyan-900);*/
    /*--color-primary-950: var(--color-cyan-950);*/

    --color-medium-50:  var(--color-gray-50);
    --color-medium-100: var(--color-gray-100);
    --color-medium-200: var(--color-gray-200);
    --color-medium-300: var(--color-gray-300);
    --color-medium-400: var(--color-gray-400);
    --color-medium-500: var(--color-gray-500);
    --color-medium-600: var(--color-gray-600);
    --color-medium-700: var(--color-gray-700);
    --color-medium-800: var(--color-gray-800);
    --color-medium-900: var(--color-gray-900);
    --color-medium-950: var(--color-gray-950);
}

@layer components {
    .button {
        @apply inline-flex items-center justify-center font-medium text-center text-gray-900 focus:ring-4 dark:text-white;
        @apply px-5 py-3 text-base;
    }

    .button.small {
        @apply px-3 py-2 text-sm
    }

    .button.large {
        @apply px-5 py-3 text-lg;
    }

    .hover-shadow {
        @apply hover:shadow-lg hover:shadow-sky-500/50 dark:hover:shadow-lg dark:hover:shadow-sky-800/80
    }
}

@utility hover-scale {
    @apply transition hover:scale-105 duration-300 ease-in-out hover:-translate-y-1
}

@utility outline-primary {
    @apply border;
    border-color: var(--color-primary-300);

    @variant dark {
        border-color: var(--color-primary-700);
    }
}

@utility outline-medium {
    @apply border;
    border-color: var(--color-medium-300);

    @variant dark {
        border-color: var(--color-medium-700);
    }
}

@utility button-primary {
    @apply text-white;
    background-color: var(--color-primary-700);

    @variant hover {
        background-color: var(--color-primary-800);
    }

    @variant focus {
        --tw-ring-color: var(--color-primary-300);
    }

    @variant dark {
        @variant focus {
            --tw-ring-color: var(--color-primary-900);
        }
    }
}

@utility primary-gradient {
    @apply bg-gradient-to-tr from-green-400 to-sky-600 hover:bg-gradient-to-bl focus:ring-green-200 dark:focus:ring-green-800;

    /*background-color: var(--color-primary-700);*/

    /*@variant hover {*/
    /*    background-color: var(--color-primary-800);*/
    /*}*/

    /*@variant focus {*/
    /*    --tw-ring-color: var(--color-primary-300);*/
    /*}*/

    /*@variant dark {*/
    /*    @variant focus {*/
    /*        --tw-ring-color: var(--color-primary-900);*/
    /*    }*/
    /*}*/
}

@utility button-medium {
    @variant hover {
        background-color: var(--color-medium-100);
    }

    @variant focus {
        --tw-ring-color: var(--color-medium-100);
    }

    @variant dark {
        @variant hover {
            background-color: var(--color-medium-700);
        }

        @variant focus {
            --tw-ring-color: var(--color-medium-800);
        }
    }
}
